# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\main1\spring-mvc-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
